<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Pet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Editar Pet</h1>

    <form method="post">
        <label>Nome:</label>
        <input type="text" name="nome_pet" value="{{ pet.nome_pet }}" required><br>

        <label>Raça:</label>
        <input type="text" name="raca_pet" value="{{ pet.raca_pet }}" required><br>

        <label>Peso:</label>
        <input type="text" name="peso_pet" value="{{ pet.peso_pet }}" required><br>

        <label>Gênero:</label>
        <input type="text" name="genero" value="{{ pet.genero }}" required><br>

        <label>Nome do Tutor:</label>
        <input type="text" name="nome_tutor" value="{{ pet.nome_tutor }}" required><br>

        <label>Telefone do Tutor:</label>
        <input type="text" name="telefone_tutor" value="{{ pet.telefone_tutor }}" required><br>

        <button type="submit">Salvar</button>
    </form>
    <p><a href="{{ url_for('dadospets') }}">Voltar</a></p>
</body>
</html>